<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>China Chef</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

    <body>

        <header>
            <h1>China Chef</h1>
            <p class="tagline">Authentic Chinese-American Cuisine</p>
        </header>

        <main>

            {% for category, items in menu.items() %}
            <section>
                <h3>{{ category }}</h3>
                <ul>
                    {% for item in items %}
                    <li class="menu-item">
                        <span class="item-name">{{ item.name }}</span>
                        <span class="item-description">{{ item.description }}</span>
                        {% if item.prices|length == 1 %}
                        <span class="item-price">${{ item.prices[0].price }}</span>
                        {% else %}
                        <ul class="item-sizes">
                            {% for p in item.prices %}
                            <li>{{ p.label }} - ${{ p.price }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
        </section>
        {% endfor %}

        </main>

        <footer>
            <p>364 W Indian Trail Rd</p>
        </footer>
    </body>
</html>
